* {
  box-sizing: border-box; // Set total height = height specified = content + padding + margin. Normally the total height = height specified + padding + margin
}

html {
  font-size: 62.5%;
}

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer; // mouse cursor changes icon
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

// Get the date range picker arrow to show
.DateRangePickerInput_arrow {
  margin: 0 20px;
}